<div class="main-container">
  <fountain-header></fountain-header>
  <main class="main">
    <div dragable-dashboard>
      <div reorder-group="true" class="item heading">Head (please note that height should be same for all items in the row)</div>
      <div reorder-group="true" class="item chart">
        <div class="chart-content" movable="true">chart</div>
      </div>
      <div reorder-group="true" class="item block">
        <div class="block-content" movable="true">block</div>
      </div>
      <div reorder-group="true" class="item list">
        <div class="list-content" movable="true">list</div>
      </div>
      <div reorder-group="true" class="item chart">
        <div class="chart-content" movable="true">chart</div>
      </div>
      <div reorder-group="true" class="item block">
        <div class="block-content" movable="true">block</div>
      </div>
      <div reorder-group="true" class="item list">
        <div class="list-content" movable="true">list</div>
      </div>
      <div reorder-group="true" class="item chart">
        <div class="chart-content" movable="true">chart</div>
      </div>
      <div reorder-group="true" class="item block">
        <div class="block-content" movable="true">block</div>
      </div>
    </div>
  </main>
  <fountain-footer></fountain-footer>
</div>
